@charset "UTF-8";

header#cabecalho h2 {
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

header p {
  font-size: 17px;
}

header img {
  width: 400px;
  height: 400px;
  position: relative;
  padding: 3px 300px 3px 300px;
  background-color: rgb(10, 0, 54);
  margin: auto;
}

body {
  background-color: rgb(207, 31, 31);
}

p {
  text-align: justify;
}

nav#calorimetria {
  background-color: rgba(216, 84, 106, 0.9);
  padding: 50px;
  margin: 2px;
  font-size: 20px;
  box-shadow: 2px 2px 4px black;
}

nav#calorimetria h1 {
  padding: 0px;
  margin-bottom: 0px;
}

nav#calorimetria h6 {
  padding: 0px;
  margin-top: 0px;
}

nav#mecanica {
  background-color: rgba(87, 87, 199, 0.9);
  padding: 50px;
  margin: 2px;
  display: block;
  font-size: 20px;
  box-shadow: 2px 2px 4px black;
}

nav#calorimetria:hover {
  opacity: 0.9;
}

nav#calorimetria a {
  color: black;
  text-decoration: none;
}

nav#calorimetria a:hover {
  color: purple;
  text-decoration: underline;
}

nav#mecanica:hover {
  opacity: 0.9;
}

nav#mecanica a {
  color: rgb(19, 18, 18);
  text-decoration: none;
}

nav#mecanica a:hover {
  color: purple;
  text-decoration: underline;
}

div#olá {
  width: 1000px;
  background-color: rgb(215, 218, 215);
  margin: -20px auto 0px auto;
  box-shadow: 2px 2px 50px black;
  padding: 10px;
}

section#corpo {
  display: block;
  width: 450px;
  float: left;
  border-right: 1px solid rgba(54, 53, 53, 0.76);
  padding-right: 50px;
}

aside#lateral {
  display: block;
  width: 450px;
  float: right;
}

footer#top {
  clear: both;
  border-top: 1px solid;
}

footer#top p {
  text-align: center;
}

fieldset {
  text-align: center;
  width: 500px;
  position: relative;
  left: 230px;
}

fieldset p {
  text-align: left;
}

input {
  background-color: #b8b8c5;
}

option {
  background-color: #b8b8c5;
}
